{ns hl7-fhir-us-davinci-pdex.search.explanationofbenefit-service-date,
 import #{zen.fhir},
 search {:zen/tags #{zen.fhir/search},
         :fhir/id "explanationofbenefit-service-date",
         :fhir/url "http://hl7.org/fhir/us/davinci-pdex/SearchParameter/explanationofbenefit-service-date",
         :fhir/type "date",
         :name "service-date",
         :expr {:ExplanationOfBenefit {:knife [["billablePeriod"]
                                               ["item" "serviced"]],
                                       :jsonpath ["$.\"billablePeriod\"[*]"
                                                  "$.\"item\".\"serviced\"[*]"],
                                       :data-types #{{:type "Period",
                                                      :polymorphic? false}
                                                     {:type "date",
                                                      :polymorphic? true}
                                                     {:type "Period",
                                                      :polymorphic? true}},
                                       :template :date,
                                       :sql {:where [:or
                                                     [:or
                                                      [:and
                                                       [:>=
                                                        [:pg/call
                                                         :max_text_date_bound
                                                         [:pg/sql
                                                          "{{param}}"]]
                                                        [:pg/call
                                                         :jsonpath_extract_max_timestamptz
                                                         [:pg/sql
                                                          "{{table}}.resource"]
                                                         "$.\"billablePeriod\"[*].start"]]
                                                       [:<=
                                                        [:pg/call
                                                         :min_text_date_bound
                                                         [:pg/sql
                                                          "{{param}}"]]
                                                        [:pg/call
                                                         :jsonpath_extract_min_timestamptz
                                                         [:pg/sql
                                                          "{{table}}.resource"]
                                                         "$.\"billablePeriod\"[*].end"]]]
                                                      [:and
                                                       [:>=
                                                        [:pg/call
                                                         :max_text_date_bound
                                                         [:pg/sql
                                                          "{{param}}"]]
                                                        [:pg/call
                                                         :jsonpath_extract_max_timestamptz
                                                         [:pg/sql
                                                          "{{table}}.resource"]
                                                         "$.\"billablePeriod\"[*].start"]]
                                                       [:is
                                                        [:pg/call
                                                         :jsonpath_extract_max_timestamptz
                                                         [:pg/sql
                                                          "{{table}}.resource"]
                                                         "$.\"billablePeriod\"[*].end"]
                                                        nil]]
                                                      [:and
                                                       [:<=
                                                        [:pg/call
                                                         :min_text_date_bound
                                                         [:pg/sql
                                                          "{{param}}"]]
                                                        [:pg/call
                                                         :jsonpath_extract_min_timestamptz
                                                         [:pg/sql
                                                          "{{table}}.resource"]
                                                         "$.\"billablePeriod\"[*].end"]]
                                                       [:is
                                                        [:pg/call
                                                         :jsonpath_extract_min_timestamptz
                                                         [:pg/sql
                                                          "{{table}}.resource"]
                                                         "$.\"billablePeriod\"[*].start"]
                                                        nil]]]
                                                     [:or
                                                      [:and
                                                       [:>=
                                                        [:pg/call
                                                         :max_text_date_bound
                                                         [:pg/sql
                                                          "{{param}}"]]
                                                        [:pg/call
                                                         :jsonpath_extract_max_timestamptz
                                                         [:pg/sql
                                                          "{{table}}.resource"]
                                                         "$.\"item\".\"serviced\"[*].start"]]
                                                       [:<=
                                                        [:pg/call
                                                         :min_text_date_bound
                                                         [:pg/sql
                                                          "{{param}}"]]
                                                        [:pg/call
                                                         :jsonpath_extract_min_timestamptz
                                                         [:pg/sql
                                                          "{{table}}.resource"]
                                                         "$.\"item\".\"serviced\"[*].end"]]]
                                                      [:and
                                                       [:>=
                                                        [:pg/call
                                                         :max_text_date_bound
                                                         [:pg/sql
                                                          "{{param}}"]]
                                                        [:pg/call
                                                         :jsonpath_extract_max_timestamptz
                                                         [:pg/sql
                                                          "{{table}}.resource"]
                                                         "$.\"item\".\"serviced\"[*].start"]]
                                                       [:is
                                                        [:pg/call
                                                         :jsonpath_extract_max_timestamptz
                                                         [:pg/sql
                                                          "{{table}}.resource"]
                                                         "$.\"item\".\"serviced\"[*].end"]
                                                        nil]]
                                                      [:and
                                                       [:<=
                                                        [:pg/call
                                                         :min_text_date_bound
                                                         [:pg/sql
                                                          "{{param}}"]]
                                                        [:pg/call
                                                         :jsonpath_extract_min_timestamptz
                                                         [:pg/sql
                                                          "{{table}}.resource"]
                                                         "$.\"item\".\"serviced\"[*].end"]]
                                                       [:is
                                                        [:pg/call
                                                         :jsonpath_extract_min_timestamptz
                                                         [:pg/sql
                                                          "{{table}}.resource"]
                                                         "$.\"item\".\"serviced\"[*].start"]
                                                        nil]]]
                                                     [:and
                                                      [:>=
                                                       [:pg/call
                                                        :max_text_date_bound
                                                        [:pg/sql
                                                         "{{param}}"]]
                                                       [:pg/call
                                                        :jsonpath_extract_max_timestamptz
                                                        [:pg/sql
                                                         "{{table}}.resource"]
                                                        "$.\"billablePeriod\"[*].date"]]
                                                      [:<=
                                                       [:pg/call
                                                        :min_text_date_bound
                                                        [:pg/sql
                                                         "{{param}}"]]
                                                       [:pg/call
                                                        :jsonpath_extract_min_timestamptz
                                                        [:pg/sql
                                                         "{{table}}.resource"]
                                                        "$.\"billablePeriod\"[*].date"]]]
                                                     [:and
                                                      [:>=
                                                       [:pg/call
                                                        :max_text_date_bound
                                                        [:pg/sql
                                                         "{{param}}"]]
                                                       [:pg/call
                                                        :jsonpath_extract_max_timestamptz
                                                        [:pg/sql
                                                         "{{table}}.resource"]
                                                        "$.\"item\".\"serviced\"[*].date"]]
                                                      [:<=
                                                       [:pg/call
                                                        :min_text_date_bound
                                                        [:pg/sql
                                                         "{{param}}"]]
                                                       [:pg/call
                                                        :jsonpath_extract_min_timestamptz
                                                        [:pg/sql
                                                         "{{table}}.resource"]
                                                        "$.\"item\".\"serviced\"[*].date"]]]
                                                     [:or
                                                      [:and
                                                       [:>=
                                                        [:pg/call
                                                         :max_text_date_bound
                                                         [:pg/sql
                                                          "{{param}}"]]
                                                        [:pg/call
                                                         :jsonpath_extract_max_timestamptz
                                                         [:pg/sql
                                                          "{{table}}.resource"]
                                                         "$.\"billablePeriod\"[*].Period.start"]]
                                                       [:<=
                                                        [:pg/call
                                                         :min_text_date_bound
                                                         [:pg/sql
                                                          "{{param}}"]]
                                                        [:pg/call
                                                         :jsonpath_extract_min_timestamptz
                                                         [:pg/sql
                                                          "{{table}}.resource"]
                                                         "$.\"billablePeriod\"[*].Period.end"]]]
                                                      [:and
                                                       [:>=
                                                        [:pg/call
                                                         :max_text_date_bound
                                                         [:pg/sql
                                                          "{{param}}"]]
                                                        [:pg/call
                                                         :jsonpath_extract_max_timestamptz
                                                         [:pg/sql
                                                          "{{table}}.resource"]
                                                         "$.\"billablePeriod\"[*].Period.start"]]
                                                       [:is
                                                        [:pg/call
                                                         :jsonpath_extract_max_timestamptz
                                                         [:pg/sql
                                                          "{{table}}.resource"]
                                                         "$.\"billablePeriod\"[*].Period.end"]
                                                        nil]]
                                                      [:and
                                                       [:<=
                                                        [:pg/call
                                                         :min_text_date_bound
                                                         [:pg/sql
                                                          "{{param}}"]]
                                                        [:pg/call
                                                         :jsonpath_extract_min_timestamptz
                                                         [:pg/sql
                                                          "{{table}}.resource"]
                                                         "$.\"billablePeriod\"[*].Period.end"]]
                                                       [:is
                                                        [:pg/call
                                                         :jsonpath_extract_min_timestamptz
                                                         [:pg/sql
                                                          "{{table}}.resource"]
                                                         "$.\"billablePeriod\"[*].Period.start"]
                                                        nil]]]
                                                     [:or
                                                      [:and
                                                       [:>=
                                                        [:pg/call
                                                         :max_text_date_bound
                                                         [:pg/sql
                                                          "{{param}}"]]
                                                        [:pg/call
                                                         :jsonpath_extract_max_timestamptz
                                                         [:pg/sql
                                                          "{{table}}.resource"]
                                                         "$.\"item\".\"serviced\"[*].Period.start"]]
                                                       [:<=
                                                        [:pg/call
                                                         :min_text_date_bound
                                                         [:pg/sql
                                                          "{{param}}"]]
                                                        [:pg/call
                                                         :jsonpath_extract_min_timestamptz
                                                         [:pg/sql
                                                          "{{table}}.resource"]
                                                         "$.\"item\".\"serviced\"[*].Period.end"]]]
                                                      [:and
                                                       [:>=
                                                        [:pg/call
                                                         :max_text_date_bound
                                                         [:pg/sql
                                                          "{{param}}"]]
                                                        [:pg/call
                                                         :jsonpath_extract_max_timestamptz
                                                         [:pg/sql
                                                          "{{table}}.resource"]
                                                         "$.\"item\".\"serviced\"[*].Period.start"]]
                                                       [:is
                                                        [:pg/call
                                                         :jsonpath_extract_max_timestamptz
                                                         [:pg/sql
                                                          "{{table}}.resource"]
                                                         "$.\"item\".\"serviced\"[*].Period.end"]
                                                        nil]]
                                                      [:and
                                                       [:<=
                                                        [:pg/call
                                                         :min_text_date_bound
                                                         [:pg/sql
                                                          "{{param}}"]]
                                                        [:pg/call
                                                         :jsonpath_extract_min_timestamptz
                                                         [:pg/sql
                                                          "{{table}}.resource"]
                                                         "$.\"item\".\"serviced\"[*].Period.end"]]
                                                       [:is
                                                        [:pg/call
                                                         :jsonpath_extract_min_timestamptz
                                                         [:pg/sql
                                                          "{{table}}.resource"]
                                                         "$.\"item\".\"serviced\"[*].Period.start"]
                                                        nil]]]]}}}}}
