{ns hl7-fhir-us-davinci-pdex.search.pdex-medicationdispense-patient,
 import #{zen.fhir},
 search
 {:zen/tags #{zen.fhir/search},
  :fhir/id "pdex-medicationdispense-patient",
  :fhir/url
  "http://hl7.org/fhir/us/davinci-pdex/SearchParameter/pdex-medicationdispense-patient",
  :fhir/type "reference",
  :name "patient",
  :expr
  {:MedicationDispense
   {:knife [["subject" {:resourceType "Patient"}]],
    :jsonpath ["$.\"subject\"?(@.\"resourceType\"==\"Patient\")[*]"],
    :data-types #{{:type "Reference", :polymorphic? false}},
    :template :reference}}}}