{ns hl7-fhir-us-davinci-pdex.extension-levelOfServiceCode,
 import #{zen.fhir hl7-fhir-r4-core.CodeableConcept},
 schema {:zen/tags #{zen/schema zen.fhir/structure-schema},
         :zen/desc "A code specifying the level of service being requested (UM06)",
         :zen.fhir/type "CodeableConcept",
         :zen.fhir/profileUri "http://hl7.org/fhir/us/davinci-pdex/StructureDefinition/extension-levelOfServiceCode",
         :zen.fhir/version "0.6.17-1",
         :confirms #{hl7-fhir-r4-core.CodeableConcept/schema}}}
