{ns hl7-fhir-us-davinci-pdex.pdex-priorauthorization,
 import
 #{hl7-fhir-r4-core.Period
   hl7-fhir-r4-core.decimal
   hl7-fhir-us-davinci-pdex.PriorAuthorizationUtilization
   hl7-fhir-r4-core.BackboneElement
   hl7-fhir-r4-core.canonical
   hl7-fhir-r4-core.code
   zen.fhir
   hl7-fhir-us-core.us-core-practitioner
   hl7-fhir-r4-core.ExplanationOfBenefit
   hl7-fhir-us-davinci-pdex.value-set.X12ClaimAdjustmentReasonCodesCMSRemittanceAdviceRemarkCodes
   hl7-fhir-us-core.us-core-organization
   hl7-fhir-us-core.us-core-patient
   hl7-fhir-us-davinci-pdex.value-set.PDexAdjudicationCategoryDiscriminator
   hl7-fhir-us-davinci-pdex.extension-reviewAction
   hl7-fhir-us-davinci-pdex.hrex-coverage
   hl7-fhir-us-davinci-pdex.value-set.PriorAuthorizationAmounts
   hl7-fhir-r4-core.Meta
   hl7-fhir-r4-core.Reference
   hl7-fhir-r4-core.Element
   hl7-fhir-us-davinci-pdex.extension-levelOfServiceCode
   hl7-fhir-r4-core.CodeableConcept
   hl7-fhir-us-core.us-core-location
   hl7-fhir-us-davinci-pdex.value-set.PDexPAInstitutionalProcedureCodes
   hl7-fhir-r4-core.value-set.process-priority
   hl7-fhir-us-core.us-core-encounter
   hl7-fhir-us-core.us-core-practitionerrole},
 schema
 {:zen/tags #{zen.fhir/profile-schema zen/schema},
  :zen/desc
  "The PDex Prior Authorization (PPA) profile is based on the ExplanationOfBenefit resource and is provided to enable payers to express Prior Authorization information to members",
  :zen.fhir/type "ExplanationOfBenefit",
  :zen.fhir/profileUri
  "http://hl7.org/fhir/us/davinci-pdex/StructureDefinition/pdex-priorauthorization",
  :zen.fhir/version "0.6.0",
  :confirms
  #{zen.fhir/Resource hl7-fhir-r4-core.ExplanationOfBenefit/schema},
  :type zen/map,
  :keys
  {:patient
   {:confirms #{hl7-fhir-r4-core.Reference/schema zen.fhir/Reference},
    :fhir/flags #{:MS},
    :zen.fhir/reference
    {:refers #{hl7-fhir-us-core.us-core-patient/schema}}},
   :insurance
   {:type zen/vector,
    :every
    {:confirms #{hl7-fhir-r4-core.BackboneElement/schema},
     :type zen/map,
     :keys
     {:coverage
      {:confirms
       #{hl7-fhir-r4-core.Reference/schema zen.fhir/Reference},
       :zen.fhir/reference
       {:refers #{hl7-fhir-us-davinci-pdex.hrex-coverage/schema}}}}}},
   :facility
   {:confirms #{hl7-fhir-r4-core.Reference/schema zen.fhir/Reference},
    :fhir/flags #{:MS},
    :zen.fhir/reference
    {:refers #{hl7-fhir-us-core.us-core-location/schema}}},
   :meta
   {:confirms #{hl7-fhir-r4-core.Meta/schema},
    :type zen/map,
    :keys
    {:profile
     {:slicing
      {:slices
       {"supportedProfile"
        {:schema {:type zen/vector, :minItems 1, :maxItems 1},
         :filter
         {:engine :match,
          :match
          (:zen.match/one-of
           #{"http://hl7.org/fhir/us/davinci-pdex/StructureDefinition/pdex-priorauthorization"
             "http://hl7.org/fhir/us/davinci-pdex/StructureDefinition/pdex-priorauthorization|2.0.0"})}}}},
      :type zen/vector,
      :every {:confirms #{hl7-fhir-r4-core.canonical/schema}},
      :minItems 1},
     :_profile
     {:type zen/vector,
      :every {:confirms #{hl7-fhir-r4-core.Element/schema}}}},
    :require #{:profile}},
   :adjudication
   {:slicing {:slices {}},
    :type zen/vector,
    :every
    {:confirms #{hl7-fhir-r4-core.BackboneElement/schema},
     :type zen/map,
     :keys
     {:category
      {:fhir/flags #{:MS},
       :zen.fhir/value-set
       {:symbol
        hl7-fhir-us-davinci-pdex.value-set.PDexAdjudicationCategoryDiscriminator/value-set,
        :strength :required}}},
     :fhir/flags #{:MS}}},
   :enterer
   {:confirms #{hl7-fhir-r4-core.Reference/schema zen.fhir/Reference},
    :fhir/flags #{:MS},
    :zen.fhir/reference
    {:refers
     #{hl7-fhir-us-core.us-core-practitionerrole/schema
       hl7-fhir-us-core.us-core-practitioner/schema}}},
   :item
   {:type zen/vector,
    :every
    {:confirms #{hl7-fhir-r4-core.BackboneElement/schema},
     :type zen/map,
     :keys
     {:category
      {:confirms #{hl7-fhir-r4-core.CodeableConcept/schema},
       :fhir/flags #{:MS}},
      :productOrService
      {:confirms #{hl7-fhir-r4-core.CodeableConcept/schema},
       :zen.fhir/value-set
       {:symbol
        hl7-fhir-us-davinci-pdex.value-set.PDexPAInstitutionalProcedureCodes/value-set,
        :strength :required}},
      :encounter
      {:type zen/vector,
       :every
       {:confirms
        #{hl7-fhir-r4-core.Reference/schema zen.fhir/Reference},
        :zen.fhir/reference
        {:refers #{hl7-fhir-us-core.us-core-encounter/schema}}}},
      :adjudication
      {:slicing
       {:slices
        {"allowedunits"
         {:schema
          {:type zen/vector,
           :maxItems 1,
           :every
           {:type zen/map,
            :keys
            {:category
             {:match
              {:coding
               #{{:system
                  "http://hl7.org/fhir/us/davinci-pdex/CodeSystem/PDexAdjudicationDiscriminator",
                  :code "allowedunits"}}},
              :confirms #{hl7-fhir-r4-core.CodeableConcept/schema}},
             :value
             {:confirms #{hl7-fhir-r4-core.decimal/schema},
              :fhir/flags #{:MS}},
             :_value {:confirms #{hl7-fhir-r4-core.Element/schema}}},
            :require #{:value}}},
          :filter
          {:engine :match,
           :match
           {:category
            {:coding
             #{{:system
                "http://hl7.org/fhir/us/davinci-pdex/CodeSystem/PDexAdjudicationDiscriminator",
                :code "allowedunits"}}}}}},
         "denialreason"
         {:schema
          {:type zen/vector,
           :every
           {:type zen/map,
            :keys
            {:category
             {:match
              {:coding
               #{{:system
                  "http://hl7.org/fhir/us/davinci-pdex/CodeSystem/PDexAdjudicationDiscriminator",
                  :code "denialreason"}}},
              :confirms #{hl7-fhir-r4-core.CodeableConcept/schema}},
             :reason
             {:confirms #{hl7-fhir-r4-core.CodeableConcept/schema},
              :fhir/flags #{:MS},
              :zen.fhir/value-set
              {:symbol
               hl7-fhir-us-davinci-pdex.value-set.X12ClaimAdjustmentReasonCodesCMSRemittanceAdviceRemarkCodes/value-set,
               :strength :required}}},
            :require #{:reason}}},
          :filter
          {:engine :match,
           :match
           {:category
            {:coding
             #{{:system
                "http://hl7.org/fhir/us/davinci-pdex/CodeSystem/PDexAdjudicationDiscriminator",
                :code "denialreason"}}}}}},
         "consumedunits"
         {:schema
          {:type zen/vector,
           :maxItems 1,
           :every
           {:type zen/map,
            :keys
            {:category
             {:match
              {:coding
               #{{:system
                  "http://hl7.org/fhir/us/davinci-pdex/CodeSystem/PDexAdjudicationDiscriminator",
                  :code "consumedunits"}}},
              :confirms #{hl7-fhir-r4-core.CodeableConcept/schema}},
             :value
             {:confirms #{hl7-fhir-r4-core.decimal/schema},
              :fhir/flags #{:MS}},
             :_value {:confirms #{hl7-fhir-r4-core.Element/schema}}},
            :require #{:value}}},
          :filter
          {:engine :match,
           :match
           {:category
            {:coding
             #{{:system
                "http://hl7.org/fhir/us/davinci-pdex/CodeSystem/PDexAdjudicationDiscriminator",
                :code "consumedunits"}}}}}}}},
       :type zen/vector,
       :every
       {:confirms #{hl7-fhir-r4-core.BackboneElement/schema},
        :type zen/map,
        :keys
        {:reviewAction
         {:confirms
          #{hl7-fhir-us-davinci-pdex.extension-reviewAction/schema},
          :fhir/extensionUri
          "http://hl7.org/fhir/us/davinci-pdex/StructureDefinition/extension-reviewAction",
          :fhir/flags #{:MS},
          :zen/desc
          "The details of the review action that is necessary for the authorization."},
         :category
         {:confirms #{hl7-fhir-r4-core.CodeableConcept/schema},
          :zen.fhir/value-set
          {:symbol
           hl7-fhir-us-davinci-pdex.value-set.PDexAdjudicationCategoryDiscriminator/value-set,
           :strength :required}}},
        :fhir/flags #{:MS}}}}}},
   :_status {:confirms #{hl7-fhir-r4-core.Element/schema}},
   :type
   {:confirms #{hl7-fhir-r4-core.CodeableConcept/schema},
    :fhir/flags #{:MS}},
   :levelOfServiceType
   {:confirms
    #{hl7-fhir-us-davinci-pdex.extension-levelOfServiceCode/schema},
    :fhir/extensionUri
    "http://hl7.org/fhir/us/davinci-pdex/StructureDefinition/extension-levelOfServiceCode",
    :fhir/flags #{:MS},
    :zen/desc
    "A code specifying the level of service being requested (UM06)"},
   :preAuthRefPeriod
   {:type zen/vector,
    :every
    {:confirms #{hl7-fhir-r4-core.Period/schema}, :fhir/flags #{:MS}},
    :maxItems 1},
   :total
   {:type zen/vector,
    :every
    {:confirms #{hl7-fhir-r4-core.BackboneElement/schema},
     :type zen/map,
     :keys
     {:priorauth-utilization
      {:confirms
       #{hl7-fhir-us-davinci-pdex.PriorAuthorizationUtilization/schema},
       :fhir/extensionUri
       "http://hl7.org/fhir/us/davinci-pdex/StructureDefinition/PriorAuthorizationUtilization",
       :fhir/flags #{:MS}},
      :category
      {:confirms #{hl7-fhir-r4-core.CodeableConcept/schema},
       :fhir/flags #{:MS},
       :zen.fhir/value-set
       {:symbol
        hl7-fhir-us-davinci-pdex.value-set.PriorAuthorizationAmounts/value-set,
        :strength :extensible},
       :zen/desc "Prior Authorization utilization codes"}}}},
   :insurer
   {:confirms #{hl7-fhir-r4-core.Reference/schema zen.fhir/Reference},
    :fhir/flags #{:MS},
    :zen.fhir/reference
    {:refers #{hl7-fhir-us-core.us-core-organization/schema}}},
   :priority
   {:confirms #{hl7-fhir-r4-core.CodeableConcept/schema},
    :zen.fhir/value-set
    {:symbol hl7-fhir-r4-core.value-set.process-priority/value-set,
     :strength :required}},
   :status
   {:confirms #{hl7-fhir-r4-core.code/schema}, :fhir/flags #{:MS}},
   :provider
   {:confirms #{hl7-fhir-r4-core.Reference/schema zen.fhir/Reference},
    :fhir/flags #{:MS},
    :zen.fhir/reference
    {:refers
     #{hl7-fhir-us-core.us-core-practitionerrole/schema
       hl7-fhir-us-core.us-core-organization/schema
       hl7-fhir-us-core.us-core-practitioner/schema}}},
   :addItem
   {:type zen/vector,
    :every
    {:confirms #{hl7-fhir-r4-core.BackboneElement/schema},
     :type zen/map,
     :keys
     {:provider
      {:type zen/vector,
       :every
       {:confirms
        #{hl7-fhir-r4-core.Reference/schema zen.fhir/Reference},
        :zen.fhir/reference
        {:refers
         #{hl7-fhir-us-core.us-core-practitionerrole/schema
           hl7-fhir-us-core.us-core-organization/schema
           hl7-fhir-us-core.us-core-practitioner/schema}}}}}}},
   :careTeam
   {:type zen/vector,
    :every
    {:confirms #{hl7-fhir-r4-core.BackboneElement/schema},
     :type zen/map,
     :keys
     {:provider
      {:confirms
       #{hl7-fhir-r4-core.Reference/schema zen.fhir/Reference},
       :fhir/flags #{:MS},
       :zen.fhir/reference
       {:refers
        #{hl7-fhir-us-core.us-core-practitionerrole/schema
          hl7-fhir-us-core.us-core-organization/schema
          hl7-fhir-us-core.us-core-practitioner/schema}}}}}}}}}