{ns hl7-fhir-us-davinci-pdex.value-set.PDexAdjudication,
 import #{zen.fhir},
 value-set
 {:zen/tags #{zen.fhir/value-set},
  :zen/desc
  "Describes the various amount fields used when payers receive and adjudicate a claim.  It includes the values\ndefined in http://terminology.hl7.org/CodeSystem/adjudication, as well as those defined in the PDex Adjudication CodeSystem.",
  :zen.fhir/version "0.5.22-1",
  :fhir/code-systems
  #{{:fhir/url "http://terminology.hl7.org/CodeSystem/adjudication",
     :zen.fhir/content :bundled}
    {:fhir/url
     "http://hl7.org/fhir/us/davinci-pdex/CodeSystem/PDexAdjudicationCS",
     :zen.fhir/content :bundled}},
  :uri "http://hl7.org/fhir/us/davinci-pdex/ValueSet/PDexAdjudication",
  :version "2.0.0-ballot"}}