{ns hl7-fhir-us-davinci-pdex.value-set.PDexPayerBenefitPaymentStatus,
 import #{zen.fhir},
 value-set
 {:zen/tags #{zen.fhir/value-set},
  :zen/desc
  "Indicates the in network or out of network payment status of the claim.",
  :zen.fhir/version "0.6.6-7",
  :fhir/code-systems
  #{{:fhir/url
     "http://hl7.org/fhir/us/davinci-pdex/CodeSystem/PDexPayerAdjudicationStatus",
     :zen.fhir/content :bundled}},
  :uri
  "http://hl7.org/fhir/us/davinci-pdex/ValueSet/PDexPayerBenefitPaymentStatus",
  :version "2.0.0-ballot",
  :ftr
  {:module "ig",
   :source-urls ["node_modules/hl7.fhir.us.davinci-pdex"],
   :source-type :igs,
   :ftr-path "ftr",
   :tag "init"}}}