{ns hl7-fhir-us-davinci-pdex.value-set.ProvenancePayerSourceFormat,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "Source Data formats used as the source for FHIR referenced record by the Payer.",
            :zen.fhir/version "0.6.22",
            :fhir/code-systems #{{:fhir/url "http://hl7.org/fhir/us/davinci-pdex/CodeSystem/ProvenancePayerDataSource",
                                  :zen.fhir/content :bundled}},
            :uri "http://hl7.org/fhir/us/davinci-pdex/ValueSet/ProvenancePayerSourceFormat",
            :version "2.0.0-ballot",
            :ftr {:module "hl7-fhir-us-davinci-pdex",
                  :source-url "https://storage.googleapis.com",
                  :source-type :cloud-storage,
                  :ftr-path "ftr",
                  :tag "init",
                  :validation-index {:type :nippy,
                                     :file "index.nippy"}}}}
