{ns hl7-fhir-us-davinci-pdex.value-set.ProvenanceAgentType,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "Agent role performed relating to referenced resource",
            :zen.fhir/version "0.6.16-2",
            :fhir/code-systems #{{:fhir/url "http://terminology.hl7.org/CodeSystem/provenance-participant-type",
                                  :zen.fhir/content :bundled}
                                 {:fhir/url "http://hl7.org/fhir/us/davinci-pdex/CodeSystem/ProvenanceAgentRoleType",
                                  :zen.fhir/content :bundled}
                                 {:fhir/url "http://hl7.org/fhir/us/core/CodeSystem/us-core-provenance-participant-type",
                                  :zen.fhir/content :bundled}},
            :uri "http://hl7.org/fhir/us/davinci-pdex/ValueSet/ProvenanceAgentType",
            :version "2.0.0-ballot",
            :ftr {:module "hl7-fhir-us-davinci-pdex",
                  :source-url "https://storage.googleapis.com",
                  :source-type :cloud-storage,
                  :ftr-path "ftr",
                  :tag "init",
                  :validation-index {:type :nippy,
                                     :file "index.nippy"}}}}
