{ns hl7-fhir-us-davinci-pdex.value-set.ProvenancePayerSourceFormat,
 import #{zen.fhir},
 value-set
 {:zen/tags #{zen.fhir/value-set},
  :zen/desc
  "Source Data formats used as the source for FHIR referenced record by the Payer.",
  :zen.fhir/version "0.5.28",
  :fhir/code-systems
  #{{:fhir/url
     "http://hl7.org/fhir/us/davinci-pdex/CodeSystem/ProvenancePayerDataSource",
     :zen.fhir/content :bundled}},
  :uri
  "http://hl7.org/fhir/us/davinci-pdex/ValueSet/ProvenancePayerSourceFormat",
  :version "2.0.0-ballot",
  :ftr
  {:module "ig",
   :source-url "node_modules/hl7.fhir.us.davinci-pdex",
   :source-type :ig,
   :ftr-path "ftr",
   :tag "init"}}}