{ns hl7-fhir-us-davinci-pdex.value-set.X12278ReviewDecisionReasonCode,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "Codes used to identify the reason for the health care service review outcome.",
            :zen.fhir/version "0.6.30-7",
            :fhir/code-systems #{{:fhir/url "https://codesystem.x12.org/external/886",
                                  :zen.fhir/content :not-present}},
            :uri "http://hl7.org/fhir/us/davinci-pdex/ValueSet/X12278ReviewDecisionReasonCode",
            :version "2.0.0-ballot"}}
